/*list style 살린 css*/
* {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: inherit;
    border-collapse: collapse;
    margin:0 auto;
    padding:0px;
    color:inherit;
}

body {
    background-color:#FF8A00;
}
header {
    display: flex;
    width:1280px;
    margin:auto;
    height:120px;
    list-style: none;
}
aside {
    width:220px;
    height:400px;
    float:left;
    padding:10px;
    margin:30px 20px 0 20px;
    list-style: none;
}
main { /*INDEX는 여기만 바뀜 - 꼭 바꿔주기*/
    width:1000px;
    height:auto;
    float:left;
    padding:30px 50px 50px 50px;
    margin:30px 0 0 10px;
    background-color:white;
}
section {
    color:#000000;
}
.title {
    font-size:24px;
    font-weight:bold;
}

footer {
    width:100%;
    height:130px;
    float:left;
    background-color:#383838;
    text-align:center;
    padding:20px 0 20px 0;
    color:#777;
    margin-top:30px;
}
footer h5 {
    color:#999;
}
.home_icon {
    width:300px;
    padding-top:20px;
}
.nav {
    text-align: center;
    display: inline-block;
    width:calc(1280px - 300px);
    padding-top:40px;
}
.nav ul {
    display:inline-block;
    list-style: none;
}
.nav > ul > li {
    display: inline-block;
    margin-left:50px;
    float:left;
}
.nav ul > li > a {
    font-size:18px;
    color: #fff;
    position: relative;
    padding: 6px 20px;
    display: block;
}
.nav ul > li > ul > li > a {
    color: #222;
    font-size:16px;
}
.nav > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #ff5400;
    transition: all .5s ease-out;
}
.nav > ul > li > a:hover::after {
    width: 90%;
}
.nav > ul > li:hover > a {
    color: white;

    background-color: rgba(0, 0, 0, 0.05);
    transition: all .3s ease-out;
}
.nav li {
    position: relative;
}
.nav ul ul {
    display: none;
    position: absolute;
    top:100%;
    width:100%;
    background-color: white;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.03);
}
.nav li:hover > ul {
    display:block;
}
.nav > ul > li > ul > li:hover > a {
    color: #ff5400;
}
.nav_select {
  background-color: #ff5400;
}



.sub_nav {
    float:right;
}
.sub_nav > div {
    display: inline-block;
    padding: 2px;
    vertical-align: top;
    position: relative;
}
.sub_nav div > a {
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background-color:#ff5400;
    border-radius: 30px;
    opacity:80%;
}
.sub_nav > div > a:hover {
    color:white;
    transition: all .3s ease-out;
    opacity:100%;
}
.sub_select {
  color: white;
  opacity:100%;
}
.instagram {
    padding:10px;
}
.footer_small {
    font-size:10px;
    padding:5px;
}

.typo {
    width:1280px;
    height:600px;
}
.a {
    padding-top:100px;
    color:#fff;
    font-size:120px;
}
section > ol {
    list-style-position : inside;
}
section > ol > li > a {
    color: #FF8A00;
}
section > ol > li > a:hover {
    color: white;
    background-color: #FF8A00;
    transition: all .3s ease-out;
}
section ul {
    list-style-position: inside;
    padding-left: 20px;
    text-align: center;
}

#date {
  margin: 20px;
  font-size: 18px;
}
#date li {
  display: inline;
}

.opacity a:hover {
  opacity: 60%;
  transition: all .3s ease-out;
}
#sched_tbl {
  border-collapse: collapse;
  border-top: solid 3px #999;
  margin-top: 15px;
}
#sched_tbl td {
  width:110px;
  padding:10px;
  border:solid 2px #aaa;
}
#sched_tbl tr {
  height: 100px;
  vertical-align: top;
}
#sched_tbl tr#day {
  height: 40px;
  background-color: #eee;
  text-align:center;
  font-weight:bold;
}
#sched_tbl .red {
  color:#ff0000;
}
#sched_tbl .blue {
  color: #0000ff;
}
